.fade-in {
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.obscure-stars {
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.dont_need {
    display: block; /* or any other display property you need */
  }
  
  /* Media query for mobile screens */
  @media only screen and (max-width: 767px) {
    .dont_need {
      display: none;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .making {
      transform: translate(10%, 0%); /* Center the div */
    }
  }